body{background-color: lightgray;}
/* Styling the navigation bar */
#nav {
    background-color: black;
    overflow: hidden;
}
#nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}
p{ color: blue; font-size: 25px;}
h1 { color: green; font-size: 30px;}
h3 { color: red; font-size: 20px;}
h4 { color: purple; font-size: 18px;}
.blue { color: blue; }
/* adding css to classes */
.blue { color: blue; font-size: 25px;}
/* adding css input tag */
.yellow { background-color: yellow; font-size: 20px;}

